@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


body {
    background-color: hsl(30, 54%, 90%);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.frame {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
   align-items: baseline;
    padding: 2rem;
    border-radius: 15px;
    max-width: 55vw;

}

img {
    max-height: 800vh;
    max-width: 55vw;
    border-radius: 10px;

}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1rem;
    margin-top:2rem;
    font-size: 35px;
}

.recipes-description {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.recipe-preparation-time {
    color: hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.border-for-preparation-time-text {
    border: 1px solid hsl(330, 100%, 98%);
    background-color: hsl(330, 100%, 98%);
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 100;
    font-size: 16px;
    width: 100%;

}

span {
    font-family: "Outfit", sans-serif;
   font-weight: 600;
   font-size: 16px;
   color:  hsl(24, 5%, 18%);
}

   .border-for-preparation-time-text li::marker 
 {
    color: hsl(332, 51%, 32%);
}

.border-for-preparation-time-text li {
    margin-bottom: 1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;

}

.recipe-ingredients-heading{
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    font-size: 28px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.recipe-ingredients-section li::marker{
    color: hsl(14, 45%, 36%);
}

.recipe-ingredients-section{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 1rem;
}

.recipe-ingredients-section li{
    margin-bottom: 1rem;
}

.horizontal-line {
    width: 100%; /* Span full width of the container */
    border-top: 1px solid hsl(30, 18%, 87%);
}


.recipe-instructions-heading{
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    font-size: 28px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.recipe-instructions-section{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 16px;
}


.recipe-instructions-section li::marker{
    color: hsl(14, 45%, 36%);
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

.points-for-instructions{
    padding-left:1rem;
}

.recipe-instructions-section li{
    margin-bottom: 1rem;
}

.recipe-nutrition-heading{
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    font-size: 1.75rem;
}

.table-description{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 1rem;
   
}

.rowspan-table{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 17px;   
   
}


.rowspan-table tr td:nth-child(2) {
   text-align: right;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: hsl(14, 45%, 36%);
    width: 100%;
   
}

.bordered {
    
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
}

.unbordered{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bordered::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 49vw; 
    height: 1px;
    background-color: hsl(30, 18%, 87%); 
}